<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="invoice-service"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"spring_application_name":"${APP_NAME}"}</customFields>
        </encoder>
        <reconnectionDelay>5 seconds</reconnectionDelay>
        <connectionTimeout>5 seconds</connectionTimeout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="com.hk-fintech.hk.common.logging" level="INFO"/>

</configuration>
